{% extends "base.html" %}

{% block content %}

  <h2>{{ boardgame.title }}</h2>
  <p><strong>Genre:</strong> {{ boardgame.genre.name }}</p>
  <p><strong>Players:</strong> {{ boardgame.min_players }} - {{ boardgame.max_players }}</p>
  <p><strong>Description:</strong> {{ boardgame.description }}</p>
  <img src="{{ boardgame.image_url }}" alt="{{ boardgame.title }}" width="300">
  <h1>
    <a href="{% url 'boardgames:board-game-delete' pk=event.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'boardgames:board-game-update' pk=event.id %}" class="btn btn-primary">
      Update
    </a>
  </h1>
{% endblock %}
