{% extends "base.html" %}


{% block content %}


  <h1>
      Event List
      <a href="{% url 'boardgames:event-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>


  {% if events %}
    <ul>
      {% for event in events %}
        <li class="mb-2">
          <strong><a href="{% url "boardgames:event-detail" pk=event.id %}">{{ event.title }}</a></strong><br>
  <span>{{ event.date|date:"F j, Y, H:i" }} — {{ event.host }} — {{ event.location }}</span>
</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no games in our base</p>
  {% endif %}
   {% block search %}

  <form method="get" class="form-inline mb-4">
  {{ search_form  }}
  <button type="submit" class="btn btn-primary">
    <i class="icon-search3"></i>
  </button>
</form>
  {% endblock %}
{% endblock %}

